body{
    background-color: #1e1f26;
}

h1{
    color: #dbdbdb;
    font-family: "Arial";
    font-size: 45px;
}

label{
    color: #dbdbdb;
    font-family: "Arial";
    font-size: 30px;
}

img{
    object-fit: contain;
    height: 200px;
    width: auto;
}

button {
    color: #dbdbdb;
    font: 25px "Arial";
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin: 25px;
}

button:hover{
    background-color: #dbdbdb !important;
    color: #000000;
}

.Notification{
    color: #bf3c2e;
    font: 30px "Arial";
    border: 10px solid #74281f;
    border-radius: 25px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    position: relative;
    margin: 0 auto;
    z-index: 10;
}

.Notification:empty {
    border: hidden;
    padding: 35px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm > label {
    flex: 1;
}

.loginForm > button {
    color: #dbdbdb;
    font: 25px "Arial";
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin-top: 25px;
}

.loginForm > button:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}

.loginForm > input{
    text-align:center;
    color: #dbdbdb;
    padding: 15px 25px;
    max-height: 400px;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
}   

.guessHolder {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.scoreHolder {
    min-width: 750px;
}

.scoreBlock {
    display: inline-block;
    width: 50%;
    max-height: 500px;
    vertical-align:top;
    overflow: auto;
}

.scoreBlock > label{
    color: #bf3c2e;
    font-weight: bold;
}

label.type{
    color: #1c793b;
    font-weight: bold;
}

label .date{
    color: #1c3670;
    font-style: italic;
}

.upgradeName{
    color: #1c793b;
    font-style: italic;
}

.category{
    color: #bf3c2e;
}

.desc{
    font-size: 20px;
    font-style: oblique;
}

.overlayBG {
    background-color: rgba(17, 17, 17, 0.699);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
}

  .overlayContainer{
    border: 10px solid #5c5c61;
    border-radius: 25px;
    background-color: #bd8216;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: fit-content;
    height: fit-content;
}

.resultScreenText{
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
    padding-top: 25px;
    vertical-align: top;
}

.resultScreenImage{
    display: inline-block;
    vertical-align:middle;
}

.Upgrades{
    display: inline-block;
    padding: 50px;
}

.TowerImage{
    display: inline-block;
    padding: 50px;
    width: 200px;
    height: 200px;
}

.row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
    transition: all 0.8s;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Arial';
    font-size: 25px;
    color: #ffffff;
}

.guessEntry {
    border: 2px solid #2d2e36;
    padding: 10px;
}

.guessform{
    width: 100%;
}

.guessform > input{
    text-align:center;
    color: #dbdbdb;
    padding: 15px 25px;
    max-height: 400px;
    width: 500px;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
}   

.guessform > button{
    vertical-align: center;
    text-align: center;
    color: #dbdbdb;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin-top: 25px;
}

.guessform > button:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}

.slider {
    display:block;
    color: #dbdbdb;
    font-family: Arial;
    font-size: 25px;
    padding: 10px;
}

.suggestions {
    max-height: 200px;
    width: 550px;
    cursor: pointer;
    overflow: auto;
    margin: auto;
}
  
.suggestions > div {
    padding: 15px 25px;
    border-bottom: 2px solid #2d2e36;
    transition: all 0.1s ease;
}
  
.suggestions > div:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}
  
.suggestions > div {
    font-family: 'Arial';
    font-size: 20px;
    background-color: #1e1f26;
    color: #ffffff;
}

.active {
    background-color: #dbdbdb !important;
    color: #000000;
}