body{
    background-color: #1e1f26;
}

h1{
    color: #dbdbdb;
    font-family: "Arial";
    font-size: 250%;
}

label{
    color: #dbdbdb;
    font-family: "Arial";
    font-size: 30px;
}

img{
    object-fit: contain;
    height: 200px;
    width: auto;
}

.Upgrades{
    display: inline-block;
    padding: 50px;
}

.TowerImage{
    display: inline-block;
    padding: 50px;
    border: 2px solid #2d2e36;
    width: 200px;
    height: 200px;
}

.row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
    transition: all 0.8s;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Arial';
    font-size: 25px;
    color: #ffffff;
}

.guessEntry {
    border: 2px solid #2d2e36;
    padding: 10px;
}

.guessform{
    width: 100%;
}

.guessform > input{
    text-align:center;
    color: #dbdbdb;
    padding: 15px 25px;
    max-height: 400px;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
}   

.guessform > button{
    vertical-align: center;
    text-align: center;
    color: #dbdbdb;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin-top: 25px;
}

.guessform > button:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}

.slider {
    display:block;
    color: #dbdbdb;
    font-family: Arial;
    font-size: 25px;
    padding: 10px;
}

.suggestions {
    max-height: 200px;
    width: 55%;
    cursor: pointer;
    overflow: auto;
    margin: auto;
}
  
.suggestions > div {
    padding: 15px 25px;
    border-bottom: 2px solid #2d2e36;
    transition: all 0.1s ease;
}
  
.suggestions > div:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}
  
.suggestions > div {
    font-family: 'Arial';
    font-size: 20px;
    background-color: #1e1f26;
    color: #ffffff;
}

.active {
    background-color: #dbdbdb !important;
    color: #000000;
}