body{
    background-color: #1e1f26;
}

h1{
    color: #dbdbdb;
    font-family: "Arial";
    font-size: 250%;
}

label{
    color: #dbdbdb;
    font-family: "Arial";
    font-size: 30px;
}

img{
    object-fit: contain;
    height: 200px;
    width: auto;
}

button {
    color: #dbdbdb;
    font: 25px "Arial";
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin: 25px;
}

button:hover{
    background-color: #dbdbdb !important;
    color: #000000;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm > label {
    flex: 1;
}

.loginForm > button {
    color: #dbdbdb;
    font: 25px "Arial";
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin-top: 25px;
}

.loginForm > button:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}

.loginForm > input{
    text-align:center;
    color: #dbdbdb;
    padding: 15px 25px;
    max-height: 400px;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
}   

.overlayBG {
    background-color: rgba(17, 17, 17, 0.699);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }

  .overlayContainer{
    border: 10px solid #85868d;
    background-color: #bd8216;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 10;
    padding: 30px;
    width: fit-content;
    height: fit-content;
  }

  .overlayText{
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
    padding-top: 25px;
    color: #dbdbdb;
    font: bold 35px "Arial" ;
    -webkit-text-stroke: #000000 0.75px;
  }

  .overlayImage{
    display: inline-block;
    position:relative;
    bottom: 75px;
    margin: 30px;
  }

  .overlayContainer > div > button{
    vertical-align: center;
    text-align: center;
    color: #dbdbdb;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin-top: 25px;
}

.overlayContainer > div > button:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}

.Upgrades{
    display: inline-block;
    padding: 50px;
}

.TowerImage{
    display: inline-block;
    padding: 50px;
    width: 200px;
    height: 200px;
}

.row {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
    transition: all 0.8s;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Arial';
    font-size: 25px;
    color: #ffffff;
}

.guessEntry {
    border: 2px solid #2d2e36;
    padding: 10px;
}

.guessform{
    width: 100%;
}

.guessform > input{
    text-align:center;
    color: #dbdbdb;
    padding: 15px 25px;
    max-height: 400px;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
}   

.guessform > button{
    vertical-align: center;
    text-align: center;
    color: #dbdbdb;
    font-size: 25px;
    border: 2px solid #2d2e36;
    background-color: #1e1f26;
    margin-top: 25px;
}

.guessform > button:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}

.slider {
    display:block;
    color: #dbdbdb;
    font-family: Arial;
    font-size: 25px;
    padding: 10px;
}

.suggestions {
    max-height: 200px;
    width: 55%;
    cursor: pointer;
    overflow: auto;
    margin: auto;
}
  
.suggestions > div {
    padding: 15px 25px;
    border-bottom: 2px solid #2d2e36;
    transition: all 0.1s ease;
}
  
.suggestions > div:hover {
    background-color: #dbdbdb !important;
    color: #000000;
}
  
.suggestions > div {
    font-family: 'Arial';
    font-size: 20px;
    background-color: #1e1f26;
    color: #ffffff;
}

.active {
    background-color: #dbdbdb !important;
    color: #000000;
}